@model ManageEmployee5.MVC.Models.Employee
@{
  ViewBag.Title = "GetById";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetById</h2>

<div style="text-align:left; height:30px;padding:10px;">
    <span>@Html.ActionLink("Back to list", "Index")</span>
  </div>
