@model ManageEmployee5.MVC.Models.Employee
@{
  ViewBag.Title = Model.Name + " employee details";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="font-family:Arial;">
  <table>
    <tr>
      <th>

      </th>
    </tr>
    
    <tr>
      <td></td>
    </tr>
  </table>
  <div style="text-align:left; height:30px;padding:10px;">
    <span>@Html.ActionLink("Back to list", "Index")</span>
  </div>
</div>
